---
const { header, author, authorLink } = Astro.props;
---
<div class=" box-main max-w-4xl">
  <div class="sm:(flex justify-between) pb-2 border-b">
    <h1 class="text-4xl font-500">{header}</h1>
    <p class="mt-4 px-2" >著者:<a class="box-link" href={authorLink}>{author}</a></p>
  </div>
  <div class="markdown">
    <slot />
  </div>
</div>