---
const { header, updated } = Astro.props;
---
<div class="flex flex-col gap-2 box-main w-4xl p-8">
  <div class="sm:(flex justify-between) pb-2 border-b">
    <h1 class="text-4xl font-500">{header}</h1>
    <p class="mt-4">最終更新日 : {updated}</p>
  </div>
  <div class="markdown">
    <slot />
  </div>
</div>
