---
import { Image } from 'astro:assets';
import otdmIcon from '@/assets/otdm-icon.svg';
import Layout from '@/layouts/layout.astro';
---

<Layout title="おてだま | お手軽Web公開サービス">
  <section class="relative">
    <div class="flex flex-col justify-center items-center gap-4 max-w-sm mt-20 mx-auto px-8 sm:(max-w-screen-md mt-24)">
      <Image
      src={otdmIcon}
      alt="アイコン"
      class="size-32 sm:size-48 my-8"
      loading="lazy"
      />
      <h1 class="text-4xl sm:text-5xl font-ShipporiGC">おてだま</h1>
      <p class="text-2xl sm:text-3xl">ぱぱっとWebに公開したくない？</p>
      <p class="text-2xl sm:text-3xl">おてだまを使ってWebに公開する手間を減らしましょう</p>
      <a href="./docs/quick-start" class="mt-4 px-6 py-3 rounded-lg text-(lg otdm-text) bg-red-600 hover:bg-red-700 sm:text-xl ">
        はじめる
      </a>
    </div>
  </section>
</Layout>