---
import OtdmButton from "./OtdmButton.astro";
import Search from "../overlay/search/Search"
import Menu from "../overlay/menu/Menu";
---
<header class="z-10 sticky top-0 w-full bg-otdm-primary text-otdm-text sm:h-20">
  <div class="flex justify-between items-center gap-3 h-full p-2 sm:(px-6 py-4)">
    <a class="text-nowrap text-xl sm:text-2xl hover:opacity-75" href="/">おてだま</a>
    <nav class="flex gap-3 text-4xl">
      <Search client:idle />
      <OtdmButton id = "docs" />
      <OtdmButton id = "download" />
      <OtdmButton id = "github" />
      <Menu client:idle />
    </nav>
  </div>
</header>