---
import { navLinks } from "@/data/navLinks";

const props = navLinks[Astro.props.id];
---

<div class="hidden sm:block relative group">
  <a class={props.style} href={props.href} {...props.blank ? {target: "_blank", rel: "noopener"} : {}}>
    <div class={props.icon + " size-1em"}></div>
    {props.name && (
      <span class="box-tooltip opacity-0 group-hover:opacity-100">
        {props.name}
      </span>
    )}
  </a>
</div>