---
import { navLinks } from "@/data/navLinks";
type dataType = {
  name: string;
  href: string;
  blank?: boolean;
  style?: string;
  icon?: string;
};

const data: Record<string, dataType> = {
  docs : {
    ...navLinks.docs,
    style : "btn-docs",
    icon : "i-tabler:notes",
  },
  download : {
    ...navLinks.download,
    style : "btn-download",
    icon : "i-tabler:download",
  },
  github : {
    ...navLinks.github,
    style : "btn-github",
    icon : "i-custom:github",
  },
}
const { id } = Astro.props;
const props = data[id];
---

<div class="hidden sm:block relative group">
  <a class=`${props.style} size-otdm-btn` href={props.href} {...props.blank && {target: "_blank", rel: "noopener"}}>
    <div class={`${props.icon} size-1em`}></div>
    <span class="box-tooltip opacity-0 group-hover:opacity-100">
      {props.name}
    </span>
  </a>
</div>