---
import ContributorCard from '@/components/utils/ContributorCard.astro';
---
<footer class="flex flex-col items-center gap-4 p-6 bg-cyan-500 text-zinc-50">
  <a class="hover:underline" href="/teams/">利用規約</a>
  <a class="hover:underline" href="/privacy/">プライバシーポリシー</a>
  <a class="hover:underline" href="/contributors/">Contributors</a>
  <ContributorCard />
  <p>© 2024 Otdm Project</p>
</footer>