<footer class="flex flex-col items-center space-y-4 absolute inset-x-0 bottom-0 p-6 bg-cyan-500 text-zinc-50">
    <div>
        <a href="">利用規約</a>
    </div>
    <div>
        <a href="">プライバシーポリシー</a>
    </div>
    <div >
        <a href="">Contributors</a>
    </div>
</footer>