---
import ContributorCard from "./utils/ContributorCard.astro";
---
<footer class="flex flex-col items-center gap-4 p-4 bg-otdm-primary text-otdm-text">
  <a class="hover:underline" href="/teams/">利用規約</a>
  <a class="hover:underline" href="/privacy/">プライバシーポリシー</a>
  <div class="flex flex-col items-center gap-2">
    <a class="hover:underline" href="/contributors/">貢献者</a>
    <ContributorCard />
  </div>
  <small>© 2024 Otdm Project</small>
</footer>