---
import { Icon } from "astro-icon/components";
import { otdmButton } from "./style";

---
<header class="bg-cyan-500">
    <div class="flex items-center px-2 py-4">
        <div>
            <a class="text-zinc-50 text-2xl text-nowrap" href="/">おてだま</a>
        </div>
        <div class="grow"></div>
        <nav class="flex space-x-2">
            <a class={otdmButton({color: "docs"})} href="/docs/">
                <Icon name="docs" size="36" />
            </a>
            <a class={otdmButton({color: "download"})} href="/download/">
                <Icon name="download" size="36" />
            </a>
            <a class={otdmButton({color: "git"})} href="https://github.com/Otdm-Project">
                <Icon name="github" size="36" />
            </a>
            <button class={otdmButton({color: "darkMode"})}>
                <Icon name="moon" size="36" />
            </button>
        </nav>
    </div>
</header>