---
import Tooltip  from "./utils/Tooltip.astro";
---
<header class="sticky top-0 w-full h-20 bg-otdm-primary text-otdm-text">
  <div class="flex items-center h-full px-6 py-4">
    <div>
      <a class="text-2xl text-nowrap" href="/">おてだま</a>
    </div>
    <div class="grow"></div>
    <nav class="flex gap-3 text-4xl">
      <Tooltip name = ドキュメント>
        <a class="btn-base btn-docs" href = "/docs" >
          <div class="i-tabler:notes w-1em h-1em"></div>
        </a>
      </Tooltip>
      <Tooltip name = ダウンロード>
        <a class="btn-base btn-download" href = "/download" >
          <div class="i-tabler:download w-1em h-1em"></div>
        </a>
      </Tooltip>
      <Tooltip name = GitHub>
        <a class="btn-base btn-github" href = "https://github.com/Otdm-Project" >
          <div class="i-custom:github w-1em h-1em"></div>
        </a>
      </Tooltip>
      <Tooltip name = テーマ切り替え>
        <button class=" btn-base btn-moon" >
          <div class="i-tabler:moon w-1em h-1em"></div>
        </button>
      </Tooltip>
      <button class="btn-base-menu btn-menu" >
        <div class="i-tabler:menu-2 w-1em h-1em "></div>
      </button>
    </nav>
  </div>
</header>