---
import { Icon } from "astro-icon/components";
import Tooltip  from "./utils/Tooltip.astro";
---
<header class="sticky z-100 top-0 w-full h-20 bg-cyan-500">
  <div class="flex items-center h-full px-6 py-4">
    <div>
      <a class="text-zinc-50 text-2xl text-nowrap" href="/">おてだま</a>
    </div>
    <div class="grow"></div>
    <nav class="sm:flex hidden gap-3 text-4xl">
      <Tooltip name = ドキュメント>
        <a class="btn-base btn-docs" href = "/docs" >
          <Icon name = docs />
        </a>
      </Tooltip>
      <Tooltip name = ダウンロード>
        <a class="btn-base btn-download" href = "/download" >
          <Icon name = download />
        </a>
      </Tooltip>
      <Tooltip name = GitHub>
        <a class="btn-base btn-github" href = "https://github.com/Otdm-Project" >
          <Icon name = github />
        </a>
      </Tooltip>
      <Tooltip name = テーマ切り替え>
        <button class=" btn-base btn-moon" >
          <Icon name = moon />
        </button>
      </Tooltip>
    </nav>
  </div>
</header>