---
import { Icon } from "astro-icon/components";
---
<header class="sticky top-0 w-full h-20 bg-cyan-500">
  <div class="flex items-center h-full px-6 py-4">
    <div>
      <a class="text-zinc-50 text-2xl text-nowrap" href="/">おてだま</a>
    </div>
    <div class="grow"></div>
    <nav class="sm:flex hidden gap-3 text-4xl">
      <a class="relative group btn-base btn-docs" href = "/docs" >
        <span class="tooltip">ドキュメント</span>
        <Icon name = docs />
      </a>
      <a class="relative group btn-base btn-download" href = "/download" >
        <span class="tooltip">ダウンロード</span>
        <Icon name = download />
      </a>
      <a class="relative group btn-base btn-github" href = "https://github.com/Otdm-Project" >
        <span class="tooltip">github</span>
        <Icon name = github />
      </a>
      <button class="relative group btn-base btn-moon" >
        <span class="tooltip">テーマ切り替え</span>
        <Icon name = moon />
      </button>
    </nav>
  </div>
</header>