---
const docs = await Astro.glob('@/pages/docs/*.md')

//markdownファイル名を取得
const getFileName = (path: string) => {
  const parts = path.split('/');
  const fileName = parts[parts.length - 1];
  return fileName.replace('.md', '');
};

//markdownファイルの順番を指定
const order = ['index', 'setup', 'quick-start', 'command', 'error'];

//markdownファイルの順番に並び替え
docs.sort((a, b) => {
  const nameA = getFileName(a.file);
  const nameB = getFileName(b.file);
  return order.indexOf(nameA) - order.indexOf(nameB);
});
---

<div class="sticky z-80 lg:(flex flex-col) hidden box-main min-w-64">
  <div class="flex-grow p-2">
    <div class="h-8 border-2 border-c-docs">
    </div>
    {docs.map((doc) => (
      <article>
        <a href={doc.url}>{doc.frontmatter.header}</a>
      </article>
    ))}
  </div>
</div>