---
const docs = await Astro.glob('@/pages/docs/*.md')

//markdownファイル名を取得
const getFileName = (path: string) => {
  const parts = path.split('/');
  const fileName = parts[parts.length - 1];
  return fileName.replace('.md', '');
};

//markdownファイルの順番を指定
const order = ['index', 'setup', 'quick-start', 'command', 'error'];

//markdownファイルの順番に並び替え
docs.sort((a, b) => {
  const nameA = getFileName(a.file);
  const nameB = getFileName(b.file);
  return order.indexOf(nameA) - order.indexOf(nameB);
});
---

<div id="nav-docs" class="lg:(flex flex-col) hidden min-w-64 border-(r-2 docs-secondary)">
  <div class="flex flex-col gap-8 sticky top-20 p-8">
    <div class="flex flex-col gap-2">
      {docs.map((doc) => (
        <a class="p-1 rounded-md outline-cyan-600 hover:bg-slate-950/5" href={doc.url}>{doc.frontmatter.header}</a>
      ))}
    </div>
  </div>
</div>