---
const docs = await Astro.glob('@/pages/docs/*.md');
---

<div class="sticky z-80 top-30 lg:(flex flex-col) hidden h-80vh box-main min-w-64">
  {docs.map((docs) => (
    <article>
      <a href={docs.url}>{docs.frontmatter.header}</a>
    </article>
  ))}
</div>