---
import { members } from '@/data/members';
import { Image } from 'astro:assets';
---
<div class="flex items-center gap-1 h-14">
  {members.map(members => (
  <a href={members.github}>
    <Image
      class="rounded-full hover:scale-125 ease-out duration-300"
      src={members.avatar}
      alt={members.name}
      width="48"
      height="48"
      loading="lazy"
    />
  </a>
  ))}
</div>