<div class="flex justify-center h-20 bg-cyan-500">
    <div class="flex items-center h-16 p-2">
        <a class="text-zinc-50 text-2xl" href="">おてだま</a>
    </div>
    <div class="grow"></div>
    <div><div class="p-2"></div></div>
    <div><div class="p-2"></div></div>
    <div><div class="p-2"></div></div>
</div>