---
import Layout from "./layout.astro";

interface Props {
  frontmatter: {
    title: string;
    header: string;
    author: string;
  };
}

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="p-12">
    <div class="bg-docs border-docs border-2">
      <h1 class="text-4xl">{frontmatter.header}</h1>
      <h2>著者:{frontmatter.author}</h2>
      <slot />
    </div>
  </div>
</Layout>