---
import { ClientRouter } from 'astro:transitions';
import Footer from '@/components/footer/Footer.astro';
import Header from '@/components/header/Header.astro';

interface Props {
	title: string;
}

const props: Props = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="お手軽にweb公開ができるサービスである「おてだま」のドキュメントです！" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{props.title}</title>
    <ClientRouter />
  </head>
  <body class="bg-otdm-primary">
    <Header />
      <main data-pagefind-body class="flex justify-center min-h-main bg-otdm-bg text-docs-text">
        <slot />
      </main>
    <Footer />
  </body>
</html>