---
import Footer from '@/components/footer/Footer.astro';
import Header from '@/components/header/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="お手軽にweb公開ができるサービスである「おてだま」のドキュメントです！" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col">
    <Header />
      <main class="bg-otdm-neutral text-docs-text min-h-[calc(100vh-80px)]">
        <slot />
      </main>
    <Footer />
  </body>
</html>