---
import PageBox from '@/components/main/pages/PageBox.astro';
import Layout from './layout.astro';

interface Props {
  frontmatter: {
    title: string;
    header: string;
    updated: string;
    pagefindIgnore?: boolean;
  };
}
const {frontmatter} = Astro.props;
const pagefindIgnore = frontmatter.pagefindIgnore ?? false;
---
<Layout title={frontmatter.title}>
  <div
    class="mp-otdm"
    {...(pagefindIgnore && { "data-pagefind-ignore": "" })}
    >
    <PageBox header={frontmatter.header} updated={frontmatter.updated}>
      <slot />
    </PageBox>
  </div>
</Layout>