---
const { name } = Astro.props;
---

<div class="relative group">
  <slot />
  <span class="inline-block absolute inset-tooltip bg-docs-primary text-(xs docs-text nowrap) border-(2 cyan-800) p-2 rounded-md opacity-0 group-hover:opacity-100 transition pointer-events-none">
    {name}
  </span>
</div>